<a href="https://colab.research.google.com/github/sravanthi773/python-functions/blob/main/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def display():
  print("welcome to function concept")

display()

welcome to function concept

In [2]:
def display():
  print("welcome to function concept")

display()
display()

welcome to function concept
welcome to function concept

In [4]:
def display():
  print("welcome to function concept")
display()
display()
display()

welcome to function concept
welcome to function concept
welcome to function concept

In [5]:
def first():
  print("this is first function")

def second():
  print("this is second function")

first()
second()

this is first function
this is second function

In [6]:
def first():
  print("this is first function")

def second():
  print("this is second function")
second()
first()

this is second function
this is first function

In [7]:
def m1():
  print(" first function")

def m2():
  print(" second function")

m1()
m2()

 first function
 second function

In [8]:
def m1():
  print(" first function")
  m2()
def m2():
  print(" second function")

m1()

 first function
 second function

In [9]:
def display():
  print("welcome to function which having no parameters")
display()

welcome to function which having no parameters

In [11]:
def testing(a):
  print("one parameterised function:",a)
testing(10)

one parameterised function: 10

In [12]:
def testing(a):
  print("one parameterised function:",a)
testing(10.56)

one parameterised function: 10.56

In [13]:
def testing(a):
  print("one parameterised function:",a)
testing("daniel")

one parameterised function: daniel

In [17]:
def testing(a,b):
  print("two parameterised function:",a,b)

testing(10,20)

two parameterised function: 10 20

In [20]:
def addition(a,b):
    print("addition of twovalues:",(a+b))

addition(10,20)

addition of twovalues: 30

In [21]:
def subtract(a,b):
    print("subtract of twovalues:",(a-b))

subtract(10,20)

subtract of twovalues: -10

In [23]:
def multiply(a,b):
    print("multiply of twovalues:",(a*b))

multiply(10,20)

multiply of twovalues: 200

In [26]:
def balance():
  print("my bank balance is:")
balance()

my bank balance is:

In [27]:
def balance():
  print("my bank balance is:")
  return 100
balance()

my bank balance is:

100

In [29]:
def balance():
  print("my bank balance is:")
  return 100

b=balance()
print(b)

my bank balance is:
100

In [30]:
def balance():
  return 100

b=balance()
if b==0:
   print("balance is:",b)
elif b<=0:
  print("balance is:",b,"negative please deposit")
else:
  print("balance is:",b)

balance is: 100

In [31]:
def balance():
  return 0

b=balance()
if b==0:
   print("balance is:",b)
elif b<=0:
  print("balance is:",b,"negative please deposit")
else:
  print("balance is:",b)

balance is: 0

In [32]:
def balance():
  return -10

b=balance()
if b==0:
   print("balance is:",b)
elif b<=0:
  print("balance is:",b,"negative please deposit")
else:
  print("balance is:",b)

balance is: -10 negative please deposit

In [34]:
def balance():
  print("my bank balance is:")
  return 100
print(balance())

my bank balance is:
100

In [35]:
def m1():
  print("this function is returning nothing")

x=m1()
print(x)

this function is returning nothing
None

In [37]:
def m1():
    a=10
    b=20
    return a,b

x,y=m1()

print("first value is:",x)
print("second value is:",y)

first value is: 10
second value is: 20

In [38]:
def m1():
    a=10
    b=20
    c=30
    return a,b,c

x,y,z=m1()

print("first value is:",x)
print("second value is:",y)
print("third value is:",z)

first value is: 10
second value is: 20
third value is: 30

In [39]:
def m1():
    a=10
    b=20
    c=30
    return a,b,c

x=m1()

print("all values:",x)

all values: (10, 20, 30)

In [40]:
def add(x,y,z):
     result=x+y+z
     return result
r=add(10,20,30)

print("addition of values:",r)

addition of values: 60